html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

*, *::before, *::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#imgLogo{
    margin-left: 10px;
    margin-top: 10px;
    width: 10vw;
    max-width: 160px;
    min-width: 120px;
}

header ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    margin: 0 1.5vw;
}

header ul li a{
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
    margin: 0;
}

#imgShoppingCart{
    width: 3vw;
    max-width: 45px;
    min-width: 35px;
}

#cercle{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(177, 162, 150);
    clip-path: circle( 550px at right -80px);
}

main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#panier{
    font-size: 1.4vw;
    margin: 0 auto;
    margin-bottom: 10%;
    width: 60%;
}

#tablePanier{
    width: 100%;
}

th{
    text-align: left;
}

.imgTable{
    width: 3vw;
    max-width: 35px;
    min-width: 25px;
    border-radius: 12px;
    vertical-align: middle;
}

.btnRetirer{
    border: none;
    color: black;
    background: rgba(0, 0, 0, 0);
}

.btnRetirer:hover{
    font-weight: bold;
    transition: 0.3 ease;
}

#resumer{
    width: 40%;
    padding: 2em;
    margin: 6vw 6vw 2vw 6vw;
    max-width: 600px;
    min-width: 400px;
    display: block;
    border-radius: 50px;
    background: #c0c0c0;
    box-shadow:  35px 35px 70px #818181, -35px -35px 70px #ffffff;
}

#resumer div{
    display: block;
    margin: 1.2em;
}

#resumer div h2{
    display: inline;
}

#resumer div span{
    float: right;
}

#resumer a{
    padding: 1px 5px;
    text-decoration: none;
    background-color: #017143;
    color: white;
    border-radius: 11px;
    border: 0px solid;
    text-align: center;
    font-size: 1.2em;
}

#compte{
    display: block;
    margin: 0 auto 50px auto;
    width: 80%;
    text-align: center;
}

#compte a{
    text-decoration: none;
    color: black;
}

footer{
    color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 1200px){

    #imgLogo{
        margin-left: 5px;
        margin-top: 5px;
        width: 10vw;
        max-width: 160px;
        min-width: 80px;
    }

    main{
        display: block;
    }

    #proceder{
        display: block;
    }

    #resumer, #panier{
        font-size: 1em;
        max-width: 500px;
        min-width: 250px;
        width: 80%;
        margin: 4em auto;
    }

    #panier{
        width: 90vw;
        text-align: center;
    }

    th{
        text-align: center;
    }

    #resumer{
        text-align: center;
        margin-bottom: 20px;
        padding: 1.5em;
    }

    #resumer div{
        text-align: left;
    }
}