html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

*, *::before, *::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#imgLogo{
    margin-left: 10px;
    margin-top: 10px;
    width: 10vw;
    max-width: 160px;
    min-width: 120px;
}

header ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    margin: 0 1.5vw;
}

header ul li a{
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
    margin: 0;
}

#imgShoppingCart{
    width: 3vw;
    max-width: 45px;
    min-width: 35px;
}

#cercle{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(177, 162, 150);
    clip-path: circle( 550px at right -80px);
}

main{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#txtContenu{
    width: 35vw;
    margin: 1em;
}

#txtContenu p{
    padding: 2em;
    border-radius: 50px;
    background: #c0c0c0;
    box-shadow:  35px 35px 70px #818181, -35px -35px 70px #ffffff;
}

#media{
    width: 60vw;
}

#vdCoffee{
    margin-left: 5vw;
    width: 25vw;
    max-width: 900px;
    min-width: 300px;
}

#imgBackground{
    width: 25vw;
    max-width: 900px;
    min-width: 300px;
}

footer{
    color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 1200px){
    #imgLogo{
        margin-left: 5px;
        margin-top: 5px;
        width: 10vw;
        max-width: 160px;
        min-width: 80px;
    }

    main{
        display: block;
        margin-top: 4em;
    }
    #txtContenu{
        margin: 0 auto;
        width: 80vw;
    }

    #txtContenu h1{
        text-align: center;
    }

    #media{
        margin: 30px auto;
        width: 80vw;
        text-align: center;
    }

    #vdCoffee{
        margin: 20px 0;
    }
}