html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

*, *::before, *::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#imgLogo{
    margin-left: 10px;
    margin-top: 10px;
    width: 10vw;
    max-width: 160px;
    min-width: 120px;
}

header ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    margin: 0 1.5vw;
}

header ul li a{
    text-decoration: none;
    color: black;
    margin: 0;
}

#imgShoppingCart{
    width: 3vw;
    max-width: 45px;
    min-width: 35px;
}

.cercle{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

#c01{
    top: 0;
    left: 0;
    background: rgb(177, 162, 150);
    clip-path: circle( 550px at right -80px);
}

#c02{
    bottom: 0;
    left: 0;
    background-image: url("../img/background-02.jpg");
    background-size: cover;
    background-attachment: fixed;
    clip-path: circle( 300px at left 800px);
}

main{
    margin-top: 2em;
    position: relative;
    width: 100%;
    display: block;
    align-items: center;
    flex: 1;
}

main ul{
    float: left;
    padding: 0;
}

main ul li{
    text-align: center;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 0 50px 50px 0;
    padding: 1em 1.5em;
    background: #c0c0c0;
    box-shadow:  35px 1px 70px #818181, -35px -35px 70px #ffffff;
}

main ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    max-width: 100px;
    min-width: 75px;
}

#txtSalutation{
    margin: 2.6em 0;
    text-align: right;
}

section{
    margin: 0 auto;
    width: 60%;
    border-radius: 50px;
    padding: 2em;
    background: #c0c0c0;
    box-shadow:  35px 35px 70px #818181, -35px -35px 70px #ffffff;
}

table{
    width: 100%;
}

input[type = "text"]{
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.4s ease;
    background: rgba(0, 0, 0, 0);
}

input[type = "text"]:hover{
    border-bottom: 2px solid white;
}

.btnAcquerir{
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.17em;
    background: rgba(0, 0, 0, 0);
    transition: 0.4s ease;
    margin: 20px 0 20px 0;
}

.btnAcquerir:hover{
    color: white;
}

section{
    text-align: center;
}

th, td{
    text-align: center;
}

footer{
    color: #000000;
    background: rgba(0, 0, 0, 0);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}


@media (max-width: 1200px){
    #imgLogo{
        margin-left: 5px;
        margin-top: 5px;
        width: 10vw;
        max-width: 160px;
        min-width: 80px;
    }

    section{
        width: 90%;
        margin-top: 3em;
        text-align: center;
        max-width: 700px;
        min-width: 250px;
    }

    th{
        text-align: center;
        margin: 0 5px;
    }

    main{
        display: block;
        text-align: center;
        margin-bottom: 4em;
    }

    main ul{
        float: none;
    }

    main ul li{
        display: inline-block;
        flex-direction: row;
        border-radius: 50px;
        margin: 20px 20px;
    }

    table{
        font-size: 0.9em;
    }

    #txtSalutation{
        text-align: center;
    }
}