html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

*, *::before, *::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#imgLogo{
    margin-left: 10px;
    margin-top: 10px;
    width: 10vw;
    max-width: 160px;
    min-width: 120px;
}

header ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    margin: 0 1.5vw;
}

header ul li a{
    text-decoration: none;
    transition: 0.3s ease;
    color: black;
    margin: 0;
}

#imgShoppingCart{
    width: 3vw;
    max-width: 45px;
    min-width: 35px;
}

#cercle{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(177, 162, 150);
    clip-path: circle( 550px at right -80px);
}

main{
    margin-top: 4em;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.separateur{
    border-bottom: 2px solid white;
    margin: 0 2em;
}

main form{
    padding: 10px;
    margin: 80px auto;
    max-width: 900px;
    min-width: 200px;
    border-radius: 50px;
    background: #c0c0c0;
    box-shadow:  35px 35px 70px #818181, -35px -35px 70px #ffffff;
}

main form fieldset label{
    margin: 10px;
    display: inline-block;
}

form, div{
    text-align: center;
}

input[type="text"]:focus {
    background: rgba(0, 0, 0, 0);
}

h1{
    font-size: 2em;
    margin: 0 1.2em;
}

h3{
    margin-top: 0.4em;
}

fieldset{
    border: none;
    margin-bottom: 2em;
}

#btnCommander{
    border: none;
    color: black;
    font-weight: bold;
    font-size: 1.17em;
    background: rgba(0, 0, 0, 0);
    transition: 0.4s ease;
    margin: 20px 0;
}

label input{
    border: none;
    border-bottom: 2px solid black;
    transition: 0.4s ease;
    background: rgba(0, 0, 0, 0);
}

label input:hover{
    border-bottom: 2px solid white;
}

#btnCommander:hover{
    color: white;
}

footer{
    color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (max-width: 1200px){

    #imgLogo{
        margin-left: 5px;
        margin-top: 5px;
        width: 10vw;
        max-width: 160px;
        min-width: 80px;
    }

    main{
        display: block;
    }

    form{
        width: 80vw;
    }

    h1{
        text-align: center;
    }
}
