html{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

*, *::before, *::after{
    box-sizing: inherit;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

#imgLogo{
    margin-left: 10px;
    margin-top: 10px;
    width: 10vw;
    max-width: 160px;
    min-width: 120px;
}

header ul{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
}

header ul li{
    display: inline-block;
    margin: 0 1.5vw;
}

header ul li a{
    text-decoration: none;
    transition: 0.4s ease;
    color: black;
    margin: 0;
}

#imgShoppingCart{
    width: 3vw;
    max-width: 45px;
    min-width: 35px;
}

#cercle{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(177, 162, 150);
    clip-path: circle( 550px at right -80px);
}

main{
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main ul{
    width: 80vw;
    margin: 15px auto;
    padding: 0;
    text-align: center;
}

main ul li{
    list-style-type: none;
    background-color: #616161;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    min-width: 200px;
    max-width: 400px;
    width: 60%;
    margin: 20px;
    display: inline-block;
}

main ul li div{
    padding: 10px 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main ul li div:last-child{
    background-color: #017143;
    border-radius: 15px;
    justify-content: center;
}

.btnMenu{
    background-color: #017143;
    text-decoration: none;
    color: white;
    border: none;
    transition: 0.4s ease;
}

.btnMenu:hover{
    color: black;
}

main ul li img{
    max-width: 398px;
    min-width: 198px;
    width: 100%;
    border-radius: 15px;
}

.txtQuantite{
    width: 40px;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 5px;
}

footer{
    color: #000000;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (max-width: 1200px){
    #imgLogo{
        margin-left: 5px;
        margin-top: 5px;
        width: 10vw;
        max-width: 160px;
        min-width: 80px;
    }

    main h1{
        text-align: center;
    }

    main{
        margin-bottom: 2em;
    }
}